#countdown1 {
  padding-left: 20px;
  font-size: 30px;
  word-spacing: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  }
  #countdown {
    font-size: 70px;
  word-spacing: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  @media only screen and (max-width: 800px) {
    .timer-container{
      margin-top: 300px;
    }
    #countdown1 {
      font-family: cursive;
      font-size: 25px;
      word-spacing: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      }
      #countdown {
        font-size: 35px;
      word-spacing: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      }
      #B{
        margin-top: 20px;
        
      }
  }
  @media only screen and (max-width: 500px) {
    .timer-container{
      margin-top: 300px;
    }
    #countdown1 {
      font-family: cursive;
      font-size: 15px;
      word-spacing: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      }
      #countdown {
        font-size: 25px;
      word-spacing: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      }
      #B{
        margin-top: 20px;
        
      }
  }
 
  